{% extends "base.html" %}
{% load bulma_tags %}
{% load static %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title">View Debate</h1>
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <h1 class="title is-4">{{ debate.title }}</h1>
                        </div>
                    </div>

                    <div class="content">
                        <p>{{ debate.description }}</p>
                    </div>

                    <footer class="card-footer">
                        <div class="card-footer-item">
                            <time>Expires {{ debate.expires_at }}</time>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-half-desktop">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title is-centered">
                                For
                            </p>
                        </header>

                        <div id="for-list">
                        {% for argument in arguments_for %}
                            <div class="card-content">
                                <div class="card">
                                    <header class="card-header">
                                        <p class="card-header-title is-centered">
                                            {{ argument.title }}
                                        </p>
                                    </header>
                                    <div class="card-content">
                                        {{ argument.description }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                        <div class="card-content">
                            <a class="button is-link" href="create_arg/1/">Create</a>
                        </div>
                    </div>
                </div>
                <div class="column is-half-desktop">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title is-centered">
                                Against
                            </p>
                        </header>

                        <div id="against-list">
                        {% for argument in arguments_against %}
                            <div class="card-content">
                                <div class="card">
                                    <header class="card-header">
                                        <p class="card-header-title is-centered">
                                            {{ argument.title }}
                                        </p>
                                    </header>
                                    <div class="card-content">
                                        {{ argument.description }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                        <div class="card-content">
                            <a class="button is-link" href="create_arg/0/">Create</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
<script>
    var socket = new WebSocket("ws://" + window.location.host + "/view/");

    socket.onopen = function open() {
        console.log("WebSocket connection created");
    };

    socket.onmessage = function message(event) {
        var newArg = JSON.parse(event.data);

        var argumentType = newArg["is_for"];
        var id = newArg["id"];

        var argTitle = newArg["title"];
        var argDesc = newArg["description"];

        var argEntry = '<div class="card-content">\
                                <div class="card">\
                                    <header class="card-header">\
                                        <p class="card-header-title is-centered">\
                                            ${TITLE}\
                                        </p>\
                                    </header>\
                                    <div class="card-content">\
                                        ${DESC}\
                                    </div>\
                                </div>\
                            </div>'.replace("${TITLE}", argTitle).replace("${DESC}", argDesc);
        var idToMatch = argumentType ? "for-list" : "against-list";
        document.getElementById(idToMatch).innerHTML += argEntry;
    }
</script>
{% endblock %}