{% extends "base.html" %}
{% load bulma_tags %}
{% load static %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title">View Poll</h1>
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <h1 class="title is-4">{{ poll.title }}</h1>
                        </div>
                    </div>
                    <div class="content">
                        <p>{{ poll.description }}</p>
                        <h1>Choices</h1>
                        <div class="container">
                            <ul id="choice-box">
                                {% for choice in choices %}
                                    <li>
                                        {{ choice.choice_votes.all | length }}
                                        {{ choice.title }}

                                        <button id="{{ choice.id }}" class="button is-success" onclick="add_vote">
                                            Vote
                                        </button>
                                    </li>
                                {% endfor %}
                            </ul>
                            <a class="button is-info" href="create_choice">Create</a>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <div class="card-footer-item">
                            <time>Expires {{ poll.expires_at }}</time>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
    <script>
        var socket = new WebSocket("ws://" + window.location.host + "/poll/");

        socket.onopen = function open() {
            console.log("WebSocket connection created");
        };

        socket.onmessage = function message(event) {
            var newArg = JSON.parse(event.data);

            var pollName = "{{ poll.title }}";

            if (pollName != newArg["poll"])
                return;

            var argTitle = newArg["title"];

            var argEntry = '<li>\
                            ${TITLE}\
                        </li>'.replace("${TITLE}", argTitle);

            document.getElementById("choice-box").innerHTML += argEntry;
        }

        function add_vote() {
            const xhr = new XMLHttpRequest();

            xhr.open("POST", "/api/votes/", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.send(JSON.stringify({
                choice: this.id
            }));

            this.remove();
        }
    </script>
{% endblock %}